<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-light">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-light bg-dark justify-content-around">
            <a class="navbar-brand" href="{% url 'file-list' %}">
                <button class="ml-5 btn btn-outline-primary">
                    Files
                </button>
            </a>
            <a class="navbar-brand" href="{% url 'logout' %}">
                <button class="btn btn-outline-danger">
                    Logout
                </button>
            </a>
        </nav>
    {% endif %}
{% block content %}
    
{% endblock %}
</body>
</html>