{% extends 'base.html' %}

{% load static %}

{% block title %}
    File detail
{% endblock %}

{% block content %}
<script src="{% static 'copyToClipboard.js' %}"></script>

<div class="container-sm text-center">
    <div class="row justify-content-sm-center mb-4">
        <h1 class="mt-2">File detail</h1>
    </div>


    <div class="row justify-content-sm-center mb-4">
        <div class="col text-muted">
            File download URL:
        </div>
        <div class="col-6">
            <input class="w-100" type="text" value="{{ request.scheme }}://{{ request.get_host }}{% url 'file-download' object.url_hash %}" id="downloadURL" disabled>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary" onclick="myFunction('downloadURL')">Copy text</button>
        </div>
    </div>

    <div class="row justify-content-sm-center mb-4">
        <div class="col text-muted">
            File manage URL:
        </div>
        <div class="col-6">
            <input class="w-100" type="text" value="{{ request.build_absolute_uri }}" id="manageURL" disabled>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary" onclick="myFunction('manageURL')">Copy text</button>
        </div>
    </div>

    <div class="row justify-content-sm-center mb-4">
        <div class="col">
            <a class="p-2 btn btn-outline-primary" href="{{ request.scheme }}://{{ request.get_host }}{% url 'file-download' object.url_hash %}">
                Download
            </a>
            <a class="p-2 btn btn-outline-primary" href={% url 'file-regenerate-url' object.url_hash %}>Regenerate url</a>
            <a class="p-2 btn btn-outline-primary" href={% url 'file-update-expiry' object.url_hash %}>Update expiry</a>
            <a class="p-2 btn btn-outline-danger" href={% url 'file-delete' object.url_hash %}>Delete</a>
        </div>
    </div>
</div>
{% endblock content %}