{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="jumbotron d-flex align-items-center vh-100">
        <div class="container-sm text-center">
            <div class="row justify-content-sm-center mb-5">
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <button class="btn btn-outline-primary" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}